.noteCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  width: 200px; 
  height: 200px; 
  margin: 30px;
}


.noteCard p {
  margin: 0;
  font-size: 20px; 
  color: #282C34;
}

.buttonsBar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px; 
  margin-top: auto; 
}

.colorIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #282C34;
  box-shadow: 0 8px 16px rgb(34, 34, 34);
}
