.colorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.colorIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px #282C34;
    box-shadow: 0 8px 16px rgb(34, 34, 34);
  }

.c1 {
    background-color: #006D77
}

.c2 {
    background-color: #83C5BE;
}

.c3 {
    background-color: #EDF6F9;
}

.c4 {
    background-color: #FFDDD2;
}

.c5 {
    background-color: #E29578;
}